#submit-btn {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-left: none;
}
#submit-btn:hover {
    border-color: grey;
}

tr td.placeholder {
    border-width: 0;
    height: 1.5rem;
    min-height: 1.5rem;
    background-color: grey;
}
#main-table {
    margin-bottom: 5px;
}
#glowers {
    display: none;
}
#glowers p {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-around;
    /* justify-content: space-evenly; */
}
#glowers p span {
    min-height: 2rem;
}
body[loading="true"] #glowers {
    display: block;
}

body {
    min-height: 100vh;
}