#submit-btn {
    background-color: #c5e2ff;
    border: 1px solid #ced4da;
    border-left: none;
}
#submit-btn:hover {
    border-color: grey;
}

#glowers {
    display: none;
}
#glowers p {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-around;
    /* justify-content: space-evenly; */
}
#glowers p span {
    min-height: 2rem;
}
body[loading="true"] #glowers {
    display: block;
}

body {
    min-height: 100vh;
}
